.header {
    margin: 0px;
    padding: 0px;
    background-color: green;
    width: 100%;
    max-width: 100%;
    max-height: fit-content;
    display: flex;
    gap: 0px;
    justify-self: left;
    position: relative;
    align-items: center;
}

.logo {
    margin: 0px;
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
    align-content: first baseline;
    justify-self: left;
}

.nav {
    margin-right: 0px;
    margin-left: auto;
    padding: 20px;
    text-align: right;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    color: black;
}

.nav-list li {
    display: inline;
    margin: 10px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.header h1 {
    margin: 0px;
}

body {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

.blog {
    width: 60%;
    padding: 20px;
    margin-inline: auto;
}

.content-id {
    margin: 0px;
    padding: 20px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.blog-container {
    width: 100%;
    padding: 0px;
    display: flex;
    gap: 0px;
    /* justify-content: center;
    align-items: center; */
}

.page-gutter {
    width: 15%;
    margin: 0px;
    padding: 20px;
    height: fit-content;
}

.author-info {
    color: gray;
    font-style: italic;
}

/* * { outline: 1px solid red; } */