.header {
    margin: 0px;
    padding: 0px;
    background-color: green;
    width: 100%;
    max-width: 100%;
    max-height: fit-content;
    display: flex;
    gap: 0px;
    justify-self: left;
    position: relative;
    align-items: center;
}

.logo {
    margin: 0px;
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
    align-content: first baseline;
    justify-self: left;
}

.nav {
    margin-right: 0px;
    margin-left: auto;
    padding: 20px;
    text-align: right;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    color: black;
}

.nav-list li {
    display: inline;
    margin: 10px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.header h1 {
    margin: 0px;
}

body {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

.blog {
    width: 60%;
    padding: 20px;
    margin-inline: auto;
}

.content-id {
    margin: 0px;
    padding: 20px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.blog-container {
    width: 100%;
    padding: 0px;
    display: flex;
    gap: 0px;
    /* justify-content: center;
    align-items: center; */
}

.page-gutter {
    width: 15%;
    margin: 0px;
    padding: 20px;
    height: fit-content;
}

.author-info {
    color: gray;
    font-style: italic;
}

.blog-list-container {
    width: 100%;
    padding: 0px;
    display: flex;
    gap: 0px;
    flex-direction: column;
}

.blog-list {
    width: 60%;
    padding: 20px;
    margin-inline: auto;
    max-width: 60%;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    justify-content: center;
}

.blog-item {
    min-width: 60%;
}

.blog-list a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

.box a {
    display: inline-block;
    padding: 16px 32px;
    font-size: 20px;
    color: white;
    background: tomato;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.box a:hover {
    background: rebeccapurple;
    transform: scale(1.15) rotate(-2deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.box {
    display: flex;
    justify-content: center;  /* centers left-right */
    align-items: center;      /* centers up-down */
    margin: 60px;
    /* height: 300px; */
    /* background: linear-gradient(135deg, #6dd5ed, orange); */
    /* border-radius: 12px; */
}

.fuckyou-box {
    display: flex;
    height: 100dvh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6dd5ed, orange);
}

.fuckyou-minibox {
    width: 60vw;
    height: fit-content;
    text-align: center;
    /* text-align: center;
    justify-items: center; */
    border-radius: 0.5rem;
    background: white;
    color: black;
    padding: 2rem;
}

.fuckyou-minibox a {
    text-decoration: none;
    font-style: italic;
    color: black;
}

/* * { outline: 1px solid red; } */